<script>
function deleteRow(obj) {
    // 削除ボタンを押下された行を取得
    tr = obj.parentNode.parentNode;
    // trのインデックスを取得して行を削除する
    tr.parentNode.deleteRow(tr.sectionRowIndex);
}
</script>

<h1>Students#index</h1>
<p>Find me in app/views/students/index.html.erb</p>

<table border="1">
    <tr>
        <th>学籍番号</th>
        <th>名前</th>
    </tr>
    <% @students.each do |student| %>
        <tr>
            <td><%= student.student_id %></td>
            <td><%= student.name %></td>
            <td><%= link_to "削除", student_path(id: student.id), :method => :delete %></td>
        </tr>
    <% end %>
</table>

<%= form_tag( :action => 'create', :remote => true, :class => 'add_form') do -%>
<p>学籍番号<%= text_field_tag :student_id -%> </p>
<p>名前<%= text_field_tag :name -%> </p>
<%= submit_tag('add student') -%>
<% end %>

