<h1>Users#new</h1>
<p>Find me in app/views/users/new.html.erb</p>

<%= form_for(@user) do |f| %>
  <%= f.label "student id" %>
  <%= f.text_field :student_id %><br>
  <%= f.label :name %>
  <%= f.text_field :name %><br>
  <%= f.label :password %>
  <%= f.password_field :password %><br>
  <%= f.submit %>
<% end %>
