<!DOCTYPE html>
<html>
<head>
  <title>Luna</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>
<body>
<%= render 'layouts/react_hot_assets' %>

<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
  <header class="mdl-layout__header">
    <div class="mdl-layout__header-row">
      <!-- Title -->
      <span class="mdl-layout-title">Luna</span>
      <!-- Add spacer, to align navigation to the right -->
      <div class="mdl-layout-spacer"></div>
    </div>
  </header>
  <div class="mdl-layout__drawer">
    <% if user_signed_in? %>
      <nav class="mdl-navigation">
        <%= link_to 'プロフィール変更', edit_user_registration_path %>
        <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
        <%= link_to "アカウント追加", 'user_admin/new' %>
      </nav> 
    <% else %>
      <div>ログインして下さい</div>
    <% end %>
  </div>
  <% if notice %>
    <p class="alert alert-success"><%= notice %></p>
  <% end %>
  <% if alert %>
    <p class="alert alert-danger"><%= alert %></p>
  <% end %>
  <main class="mdl-layout__content">
    <div class="page-content">
      <%= yield %>
    </div>
  </main>
</div>


</body>
</html>
